@font-face {
   font-family: 'Impact', sans-serif;
   src: url(../fonts/impact.woff2);
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   color: #040404;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
   font-family: 'Roboto Condensed', sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

.container {
   max-width: 920px;
   margin: 0 auto;
   padding: 0 10px;
}

.big_container {
   max-width: 1220px;
   margin: 0 auto;
   padding: 0 10px;
}

.header {
   padding-top: 25px;
   position: absolute;
   left: 0;
   right: 0;
   background: linear-gradient(180.00deg, rgb(216, 212, 202), rgba(217, 217, 217, 0) 100%);
}

.nav {
   display: flex;
   justify-content: space-between;
}

.menu {
   display: flex;
   gap: 0 40px;
   padding-top: 25px;
}

.menu_left {
   padding-left: 25px;
}

.menu_right {
   padding-right: 80px;
}

.list_link {
   color: #363636;
   font-size: 16px;
}

.promo {
   background-image: url(../images/promo.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}

.promo_wrapper {
   padding-top: 100px;
   min-height: 100vh;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.promo_arrow {
   margin-top: auto;
   margin-bottom: 30px;
   align-self: center;
}

.title {
   font-family: 'Impact', sans-serif;
   font-weight: 400;
   font-size: 76px;
   letter-spacing: 0.08em;
   margin-bottom: 10px;
}

.sub_title {
   font-family: 'Impact', sans-serif;
   font-weight: 400;
   font-size: 48px;
   border-bottom: 1px solid #040404;
   margin-bottom: 10px;
   align-self: center;
}

.sub_title span {
   font-size: 34px;
   color: #9F6B08;
   display: block;
   padding: 10px 0;
}

.promo_text {
   font-size: 16px;
   color: #363636;
   margin-bottom: 10px;
   align-self: center;

}

.info {
   margin-bottom: 100px;
}

.info_part {
   padding-top: 100px;
   display: flex;
   justify-content: space-between;
}

.part_third {
   padding-top: 66px;
}

.part_first {
   display: block;
}

.info_title {
   text-transform: uppercase;
   margin-bottom: 30px;
   font-weight: 300;
   font-size: 32px;
}

.info_part_texbox {
   display: flex;
   justify-content: space-between;
   column-gap: 20px;
}

.info_text {
   flex-basis: 440px;
   margin-bottom: 30px;
}

.info_img {
   object-fit: cover;
}

.info_ctx {
   flex-basis: 415px;
}

.part_second .info_text {
   max-width: 352px;
}

.part_third .info_text {
   max-width: 377px;
}

.info_table {
   flex-basis: 450px;
   border-bottom: 1px solid #040404;
   position: relative;
   top: 20px
}

.info_table::before {
   content: '';
   border-top: 1px solid #040404;
   position: absolute;
   width: 100%;
   top: -20px;
}

.info_table td {
   padding-bottom: 20px;
}

.track {
   padding-bottom: 90px;
   background-image: url(../images/gran_final_01\ 1\ bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.track_title {
   padding-top: 50px;
   padding-bottom: 30px;
   font-size: 32px;
   font-weight: 300;
}

.track_text {
   max-width: 435px;
}

.track_img {
   display: block;
   margin: 0 auto;
   margin-top: 250px;
}

.evo {
   font-size: 14px;
   margin-bottom: 100px;
}

.evo_black_inner {
   position: relative;
}

.evo_black_inner::before {
   content: '';
   background-image: url(../images/Polygon\ 4.svg);
   width: 185px;
   height: 213px;
   position: absolute;
   top: 210px;
   left: -130px;
}

.evo_black_inner::after {
   content: '';
   background-image: url(../images/Polygon\ 2.svg);
   width: 498px;
   height: 572px;
   position: absolute;
   top: 290px;
   left: -40px;
}



.evo_black {
   background-color: #363636;
   padding: 100px 0 50px;
   color: #fff;
}

.evo_black_info {
   display: flex;
   justify-content: space-between;

}

.evo_black_title {
   text-transform: uppercase;
   font-size: 32px;
   font-weight: 300;
   padding-right: 50px;
}

.evo_black_info_box {
   flex-basis: 437px;
}

.evo_black_text {
   font-size: 14px;
   flex-basis: 437px;
   margin-bottom: 30px;

}

.evo_img {
   display: block;
   margin: 170px auto 60px;
   position: relative;
   z-index: 1;
}

.evo_descr_list {
   display: flex;
   justify-content: center;
   gap: 0 65px;
}

.evo_descr_list dd {
   text-transform: uppercase;
}

.evo_white_inner {
   padding-top: 125px;
   position: relative;
}

.evo_white_inner::before {
   content: '';
   background-image: url(../images/Group\ 9.png);
   width: 274px;
   height: 257px;
   position: absolute;
   top: -40px;
   left: 360px;
}

.evo_white_inner::after {
   content: '';
   background-image: url(../images/Group\ 3.png);
   width: 324px;
   height: 311px;
   position: absolute;
   top: 115px;
   left: 600px;
}

.evo_white_text {
   margin-bottom: 30px;
}

.evo_white_text:first-child {
   max-width: 285px;
}

.evo_white_text:nth-child(2) {
   max-width: 437px;
}

.evo_white_text:nth-child(3) {
   max-width: 590px;
}

.evo_white_video {
   margin-top: 100px;
   background-image: url(../images/Polygon\ 6.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 264px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.evo_white_video_link span {
   display: block;
   color: #fff;
}